/*Common CSS*/
html{
    min-width: 1400px;
    max-width: 1400px;
    background-image: url(../img/Tickle-Forest_Landscape.jpg);
    background-repeat: repeat;
    width:100%;
}
/*
#forest{
    display:block;
    margin:25% 25%;
    position:absolute;
}
*/
.squirrel img, .bear img{
    display: block;
    width:100%;
}
.squirrel{
    display:block;
    width:10%;
    max-width: 100px;
    position: absolute;
    content:url(../img/ghost.gif);
}
#bear1{
	width:300px;
	height:145px;	
	background-image:url(../working/Tickle_Forest_Art/Bear_SS.gif);
	background-repeat:no-repeat;
	background-position:;
}
.bear{
	display:block;
	position:absolute;
	/*content:url(../working/Tickle_Forest_Art/Bear_SS.gif);*/
	
}

/* clearfix */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}