/*Common CSS*/
html{
    min-width: 1400px;
    max-width: 1400px;
    background-image: url(../img/Tickle-Forest_Landscape.jpg);
    background-repeat: no-repeat;
    width:100%;
}
/*
#forest{
    display:block;
    margin:25% 25%;
    position:absolute;
}
*/
.squirrel{
    display:block;
    width:10%;
    max-width: 100px;
    position: absolute;
    content:url(../img/ghost.gif);
}
.squirrel img{
    display: block;
    width:100%;
}

/* clearfix */
.clearfix:before,
.clearfix:after {
    content: "";
    display: table;
} 
.clearfix:after {
    clear: both;
}
.clearfix {
    zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}